<div class="canvas bg-white border border-none w-[500px] h-[500px] col-start-1 col-end-6 row-start-2 row-end-7">
  <canvas id="grid" class="grid absolute pointer-events-none"></canvas>
  <canvas width="500" height="500" id="canvas"></canvas>
</div>
<div class="save-btn grid grid-cols-6 col-start-7 col-end-9 row-start-2 row-end-7 justify-center items-center">
  <span class="col-start-2 text-secondary-normal text-6xl hover:text-secondary-hover hover:cursor-pointer"><i class="fa fa-circle-arrow-right"></i></span>
</div>
