<div
  class="w-[150px] h-[320px] rounded-xl flex justify-evenly flex-col items-center bg-header-normal xl:w-[120px] lg:w-[600px] lg:flex-row lg:h-[80px] sm:w-[250px] sm:h-[60px]">
  <div class="tools text-black flex flex-col text-lg font-monolt">
    <span class="pencil default m-3 group hover:cursor-pointer hover:text-gray-400">
      <i class="fa-solid fa-pencil w-3 group-hover:text-gray-400"></i>
      <span class="text-lg sm:hidden group-hover:text-gray-400"> Pencil</span>
    </span>
    <span class="eraser m-3 group hover:cursor-pointer hover:text-gray-400">
      <i class="fa-solid fa-eraser w-3 group-hover:text-gray-400"></i>
      <span class="text-lg sm:hidden group-hover:text-gray-400"> Eraser</span>
    </span>
    <span class="fill m-3 group hover:cursor-pointer hover:text-gray-400">
      <i class="fa-solid fa-fill w-3 group-hover:text-gray-400"></i>
      <span class="text-lg sm:hidden group-hover:text-gray-400"> Fill</span>
    </span>
    <span class="brush m-3 group hover:cursor-pointer hover:text-gray-400">
      <i class="fa-solid fa-brush w-3 group-hover:text-gray-400"></i>
      <span class="text-lg sm:hidden group-hover:text-gray-400"> Brush</span>
    </span>
    <span class="select m-3 group hover:cursor-pointer hover:text-gray-400">
      <i class="fa-solid fa-expand w-3 group-hover:text-gray-400"></i>
      <span class="text-lg sm:hidden group-hover:text-gray-400"> Select</span>
    </span>
  </div>
  <!-- <div class="palette text-black font-monolt text-lg flex-col">
    <label class="hover:text-gray-400 hover:cursor-pointer" for="color-input">
      <i class="fa fa-palette"></i> Color
    </label>
    <div class="flex justify-center items-center">
      <input id="color-input" type="color" class="border-none bg-transparent w-[50px] h-[50px] hover:text-gray-400 hover:cursor-pointer">
    </div>
  </div> -->
</div>