<div class="toolbox rounded-[15px] row-start-1 row-end-6 col-start-2 col-end-8 grid grid-rows-6 bg-header-normal">
  <div class="grid grid-rows-6 row-start-1 row-end-5">
    <div class="tools text-black text-lg font-monolt row-start-2 row-end-7 grid grid-rows-6">
      <span class="pencil default my-auto row-start-1 row-end-2 grid grid-cols-10 group hover:cursor-pointer">
        <i class="fa fa-pencil flex self-center col-start-2 col-end-3 group-hover:text-gray-400"></i>
        <span class="col-start-4 col-end-11 group-hover:text-gray-400">Pencil</span>
      </span>
      <span class="eraser my-auto row-start-2 row-end-3 grid grid-cols-10 group hover:cursor-pointer">
        <i class="fa fa-eraser flex self-center col-start-2 col-end-3 group-hover:text-gray-400"></i>
        <span class="col-start-4 col-end-11 group-hover:text-gray-400">Eraser</span>
      </span>
      <span class="fill my-auto row-start-3 row-end-4 grid grid-cols-10 group hover:cursor-pointer">
        <i class="fa fa-fill flex self-center col-start-2 col-end-3 group-hover:text-gray-400"></i>
        <span class="col-start-4 col-end-11 group-hover:text-gray-400">Fill</span>
      </span>
      <span class="brush my-auto row-start-4 row-end-5 grid grid-cols-10 group hover:cursor-pointer">
        <i class="fa fa-brush flex self-center col-start-2 col-end-3 group-hover:text-gray-400"></i>
        <span class="col-start-4 col-end-11 group-hover:text-gray-400">Brush</span>
      </span>
      <span class="select my-auto row-start-5 row-end-6 grid grid-cols-10 group hover:cursor-pointer">
        <i class="fa fa-expand flex self-center col-start-2 col-end-3 group-hover:text-gray-400"></i>
        <span class="col-start-4 col-end-11 group-hover:text-gray-400">Select</span>
      </span>
      <span class="hand my-auto row-start-6 row-end-7 grid grid-cols-10 group hover:cursor-pointer">
        <i class="fa fa-hand flex self-center col-start-2 col-end-3 group-hover:text-gray-400"></i>
        <span class="col-start-4 col-end-11 group-hover:text-gray-400">Hand</span>
      </span>
    </div>
  </div>
  <div class="colors row-start-5 row-end-7 grid grid-rows-6 grid-cols-12">
    <div class="color-container w-[50px] h-[50px] relative row-start-2 row-end-5 col-start-4">
      <div class="box-white rounded-[10px] w-full h-full absolute bg-white"></div>
      <div class="box-black rounded-[10px] w-full h-full absolute bg-black transform translate-x-1/2 translate-y-1/2"></div>
    </div>
  </div>
</div>
