<!-- confirmation modal for save collection -->
<div id="start-modal-container" class="fixed inset-0 z-50 outline-none">
  <div class="bg fixed top-0 left-0 z-40 w-screen h-screen flex justify-center items-center backdrop-opacity-10 bg-black/30">
    <div id="start-modal" class="bg-white text-xl font-monomd font-semibold p-8 flex flex-col rounded-md h-auto w-[700px]">
      <p class="mb-4 text-black">Choose action to proceed</p>
      <div class="flex flex-row text-secondary-normal justify-between">
        <div class="flex flex-col justify-around h-[150px]">
          <span class="cursor-pointer  hover:text-header-hover" id="newCollection">
            <i class="fa-solid fa-file-circle-plus"></i>
            <span class="">NEW COLLECTION</span>
          </span>
          <span class="cursor-pointer hover:text-header-hover" id="loadFromFile">
            <i class="fa fa-folder-open "></i>
            <span class="">LOAD FROM FILE</span>
          </span>
          <span class="cursor-pointer hover:text-header-hover" id="loadFromDb">
            <i class="fa-solid fa-database"></i>
            <span class="">LOAD FROM DATABASE</span>
          </span>
        </div>
        <div class="flex flex-col justify-around text-sm font-normal h-[150px]">
          <span>Give a name and start a new collection</span>
          <span>Load collection from a file to edit</span>
          <span>Load collection from database</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- confirmation modal for new collection -->
<div id="new-collection-container" class="fixed inset-0 z-50 hidden outline-none">
  <div class="bg fixed top-0 left-0 z-40 w-screen h-screen flex justify-center items-center backdrop-opacity-10 bg-black/30">
    <div class="bg-white text-xl font-monomd font-semibold p-8 flex justify-between flex-col rounded-md h-[250px] w-[700px]">
      <p class="text-xl mb-4 text-black">Choose a name for the new collection</p>
      <input type="text" id="collection-name" class="text-black border border-gray-400 focus:outline-slate-600 p-2 font-normal hover:opacity-50 mb-4" placeholder="Enter name here">
      <div class="h-[20px]"><p id="input-alert" class="text-xs mb-4 text-red-700 hidden">A file name can contain only letters, numbers, spaces, and ( ) _ - , . </p></div>
      <div class="flex justify-end">
        <button id="confirm-save-modal-btn" disabled class="px-4 py-2 mr-2 bg-secondary-normal text-white rounded hover:bg-secondary-hover">OK</button>
        <button id="cancel-save-modal-btn" class="px-4 py-2 bg-header-normal text-white rounded hover:bg-header-hover">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- confirmation modal for load from database -->
