<div class="alpbahet text-secondary-normal font-monolt grid grid-cols-6 grid-rows-6 row-start-1 row-end-7">
  <div class="storage col-start-1 col-end-4 row-start-1 row-end-7 grid grid-rows-6">
    <h3 class="flex self-end justify-center text-center">Alphabet</h3>
    <div class="bg-gray-200 border border-gray-300 row-start-2 row-end-7">
      
    </div>
  </div>
  <div class="labels col-start-5 row-start-1 row-end-7 grid grid-rows-6">
    <h3 class="flex self-end justify-center">W x H</h3>
    <div class="row-start-2 row-end-7">

    </div>
  </div>
</div>
