<header class="bg-header-normal text-white text-xl font-monomd p-5 grid grid-cols-2">
  <div class="col-start-1 grid grid-cols-6">
    <span class="col-start-1 grid grid-cols-4 undo-action group hover:cursor-pointer" onclick="undo()">
      <i class="flex self-center fa fa-rotate-left col-start-1 col-end-2 group-hover:text-gray-400"></i>
      <span class="group-hover:text-gray-400">UNDO</span>
    </span>
    <span class="col-start-2 grid grid-cols-4 redo-action group hover:cursor-pointer" onclick="redo()">
      <i class="flex self-center fa fa-rotate-right col-start-1 col-end-2 group-hover:text-gray-400"></i>
      <span class="group-hover:text-gray-400">REDO</span>
    </span>
  </div>
  <div class="col-start-2 grid grid-cols-6">
    <span class="col-start-5 grid grid-cols-4 load-action group hover:cursor-pointer">
      <i class="flex self-center fa fa-folder-open col-start-1 col-end-2 group-hover:text-gray-400"></i>
      <span class="group-hover:text-gray-400">LOAD</span>
    </span>
    <span class="col-start-6 grid grid-cols-4 export-action group hover:cursor-pointer">
      <i class="flex self-center fa fa-file-export col-start-1 col-end-2 group-hover:text-gray-400"></i>
      <span class="group-hover:text-gray-400">EXPORT</span>
    </span>
  </div>
</header>
