<header class="bg-header-normal text-white text-lg font-monomd flex h-16 justify-between items-center">
  <div class="sm:w-[100px] w-[200px] flex justify-around">
    <span class="undo-button cursor-pointer hover:text-gray-400" id="undo-btn">
      <i class="fa fa-rotate-left"></i>
      <span class="sm:hidden">UNDO</span>
    </span>
    <span class="redo-button cursor-pointer hover:text-gray-400" id="redo-btn">
      <i class="fa fa-rotate-right"></i>
      <span class="sm:hidden">REDO</span>
    </span>
  </div>
  <div class="w-[300px] flex justify-around">
    <span class="cursor-pointer hover:text-gray-400" id="new-btn">
      <i class="fa-solid fa-file-circle-plus"></i>
      <span>NEW PROJECT</span>
    </span>
    <span class="cursor-pointer hover:text-gray-400" id="export-btn">
      <i class="fa-solid fa-file-export"></i>
      <span>EXPORT</span>
    </span>
  </div>
  <!-- confirmation modal for new project -->
  <div id="modal-container" class="fixed inset-0 z-50 hidden outline-none">
    <div class="bg fixed top-0 left-0 z-40 w-screen h-screen flex justify-center items-center backdrop-opacity-10 bg-black/30">
      <div id="modal" class="bg-white p-8 flex flex-col justify-between rounded-md h-auto w-[600px] transition-opacity duration-300">
        <p class="text-lg font-semibold mb-4 text-black"></p>
        <div class="flex justify-end">
          <button id="confirm-modal-btn" class="px-4 py-2 mr-2 bg-secondary-normal text-white rounded hover:bg-secondary-hover">OK</button>
          <button id="cancel-modal-btn" class="px-4 py-2 bg-header-normal text-white rounded hover:bg-header-hover">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</header>
